
<%= javascript_include_tag 'timeline' %>
<%= javascript_include_tag 'timeline-data' %>
<%= javascript_include_tag 'jquery-ui' %>
<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css' %>


<p><%= link_to "Your shows", shows_path %></p>
<h2>Edit <%= @show.name %> Show ID : <%= @show.id %></h2>

<%= link_to 'Download List', download_show_path(@show) %> </li>



<div id='displayStuff'>Debug placeholder</div>

 <% @fireworks.each_with_index do |firework, i| %>
   <input type="button" value="<%= firework.name %>" data-firework-id="<%= firework.id  %>"  data-firework-colour="<%= firework.colour  %>" onclick="addFireworkToTimeline(<%= firework.id  %>, '<%= firework.name %>');">
<% end %>


<div id="mytimeline" data-show-id='<%= @show.id %>'></div>


<%= javascript_tag do %>
    window.track_url = '<%= j @show.track_url %>';
<% end %>

<script>
    window.policy = '<%= policy %>'
    window.signature = '<%= signature %>'
</script>
    
    <div class="container">
      <div class="header"></div>

      <div id="demo">
        <div id="waveform">
          <div class="progress progress-striped active" id="progress-bar">
            <div class="progress-bar progress-bar-info"></div>
          </div>
          <!-- Here be the waveform -->
        </div>

        <div class="controls">
          <button class="btn btn-primary" data-action="back">
            <i class="glyphicon glyphicon-step-backward"></i>
            Backward
          </button>

          <button class="btn btn-primary" data-action="play">
            <i class="glyphicon glyphicon-play"></i>
            Play
            /
            <i class="glyphicon glyphicon-pause"></i>
            Pause
          </button>

          <button class="btn btn-primary" data-action="forth">
            <i class="glyphicon glyphicon-step-forward"></i>
            Forward
          </button>

          <button class="btn btn-primary" data-action="toggle-mute">
            <i class="glyphicon glyphicon-volume-off"></i>
            Toggle Mute
          </button>

          <div class="mark-controls">
            <button class="btn btn-success" data-action="green-mark">
              <i class="glyphicon glyphicon-flag"></i>
              Set green mark
            </button>

            <button class="btn btn-danger" data-action="red-mark">
              <i class="glyphicon glyphicon-flag"></i>
              Set red mark
            </button>
          </div>
        </div>

        <p class="lead pull-center" id="drop">
          Drop a song here
        </p>
        <div id="progress_bar_download"> </div>
        <div id="progress_bar_upload"> </div>
        <div id="downloading"> </div>
      </div>
    </div>


