
<%= javascript_include_tag 'main' %>
<%= javascript_include_tag 'tracks' %>
<%= stylesheet_link_tag "fireworks" %>
<%= javascript_include_tag 'timeline' %>
<%= javascript_include_tag 'timeline-data' %>
<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css' %>

<p id="your_shows"><%= link_to "Your Shows", shows_path %></p>
<h2 id="edit_show_name">Show: <%= @show.name %></h2>
<!-- <p id="download_list"> <%= link_to 'Download Show', download_show_path(@show) %> </li> </p> -->
<p id="add_fireworks_link"><%= link_to "Add a new Firework", fireworks_path %></p>
<!-- <p id="fireworks_title">Fireworks</p> -->
<div id="fireworks_list"><% @fireworks.each_with_index do |firework, i| %>
   <input class="firework_buttons" type="button" value="<%= firework.name %>" data-firework-id="<%= firework.id  %>"  data-firework-colour="<%= firework.colour  %>" onclick="addFireworkToTimeline(<%= firework.id  %>, '<%= firework.name %>');">
<% end %>
</div>

<%= javascript_tag do %>
  window.track_url = '<%= j @show.track_url %>';
<% end %>

<script>
  window.policy = '<%= policy %>'
  window.signature = '<%= signature %>'
</script>

<aside id="library">
  <%= image_tag("nightsky.png", id: "nightsky") %>
  <%= image_tag("big-glow.png", id: "big-glow") %>
  <%= image_tag("small-glow.png", id: "small-glow") %>
</aside>

<div id="mytimeline" data-show-id='<%= @show.id %>'></div>
    
<div class="container">
  <div class="header"></div>

  <div id="demo">
    <div id="waveform">
      <div class="progress progress-striped active" id="progress-bar">
        <div class="progress-bar progress-bar-info"></div>
      </div>
      <!-- Here be the waveform -->
    </div>

    <div class="controls">
      <button class="btn-btn-primary" data-action="back">
        <i class="glyphicon glyphicon-step-backward"></i>
        Backward
      </button>

      <button class="btn-btn-primary" data-action="play">
        <i class="glyphicon glyphicon-play"></i>
        Play
        /
        <i class="glyphicon glyphicon-pause"></i>
        Pause Show
      </button>

      <button class="btn-btn-primary" data-action="forth">
        <i class="glyphicon glyphicon-step-forward"></i>
        Forward
      </button>
    </div>

    <div class='upload-area'>
      <p class="lead pull-center" id="drop">
        To get started drop a song here
      </p>
      <div id="progress_bar_download"> </div>
      <div id="progress_bar_upload"> </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'fireworks' %>
