

<p><%= link_to "Your shows", shows_path %></p>
<h2>Edit <%= @show.name %></h2>
<% @show.events.each do |event| %>

<ol>
  <li>Start : <%= event.start %></li>
  <li>End : <%= event.end %></li>
  <li>Content : <%= event.content %></li>
  <li>Firework  : <%= event.firework.name %></li>
</ol>
<%= link_to 'remove', show_event_path(@show, event), :method => :delete %>
<% end %>




    <p><%= link_to "Your shows", shows_path %></p>
    <h3>Edit <%= @show.name %></h3>

    <% @show.events.each do |event| %>
    <ol>
      <li>Start : <%= event.start %></li>
      <li>End : <%= event.end %></li>
      <li>Content : <%= event.content %></li>
    </ol>
    <% end %>
    <div id="mytimeline"></div>

    <body itemscope itemtype="http://schema.org/WebApplication">
        <div class="container">
            <div class="header">
            </div>

            <div id="demo">
                <div id="waveform">
                    <div class="progress progress-striped active" id="progress-bar">
                        <div class="progress-bar progress-bar-info"></div>
                    </div>

                    <!-- Here be the waveform -->
                </div>

                <div class="controls">
                    <button class="btn btn-primary" data-action="back">
                        <i class="glyphicon glyphicon-step-backward"></i>
                        Backward
                    </button>

                    <button class="btn btn-primary" data-action="play">
                        <i class="glyphicon glyphicon-play"></i>
                        Play
                        /
                        <i class="glyphicon glyphicon-pause"></i>
                        Pause
                    </button>

                    <button class="btn btn-primary" data-action="forth">
                        <i class="glyphicon glyphicon-step-forward"></i>
                        Forward
                    </button>

                    <button class="btn btn-primary" data-action="toggle-mute">
                        <i class="glyphicon glyphicon-volume-off"></i>
                        Toggle Mute
                    </button>

                    <div class="mark-controls">
                        <button class="btn btn-success" data-action="green-mark">
                            <i class="glyphicon glyphicon-flag"></i>
                            Set green mark
                        </button>

                        <button class="btn btn-danger" data-action="red-mark">
                            <i class="glyphicon glyphicon-flag"></i>
                            Set red mark
                        </button>
                    </div>
                </div>

                <p class="lead pull-center" id="drop">
                    Drop a song here
                </p>
            </div>


<h3>Add an Event</h3>
<%= form_for @event, url: show_events_path(@show) do |f| %>
  <%= f.label :start %>
  <%= f.text_field :start %>

  <%= f.label :end, 'end time (optional)' %>
  <%= f.text_field :end %>

  <%= f.label :content, 'Name the thing' %>
  <%= f.text_field :content %>

    <% @fireworks.each_with_index do |firework, i| %>

      <p>
      <%= f.radio_button :firework_id, firework.id, checked: (i == 0) %> 
      <%= f.label :firework_id, firework.name, value: firework.id %> 
      </p> 
    <% end %>
 

  <%= f.hidden_field :show_id, value: @show.id  %>

  <%= f.submit 'Save Event' %>
<% end %>


