
<head>
<%= javascript_include_tag 'main' %>
<%= javascript_include_tag 'tracks' %>
<%= javascript_include_tag 'timeline' %>
<%= javascript_include_tag 'timeline-data' %>

</head>


<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css' %>
<div id="welcome_notice">Launchsh.it</div>
<div id="outer-edit">
  <div id="left_col">
 
  </div>
  
  <div id="right_col">
    <h2><%= @show.name %></h2>
    <%= link_to "Back to your Shows", shows_path %><br/>
    <%= link_to "Create a new Firework", fireworks_path %>

    

  </div>
  <div id="far_right_col">
    <div id="fireworks_list">
      <% @fireworks.each_with_index do |firework, i| %>
        <div>
           <input class="fw_button_edit" type="button" value="Add a <%= firework.name %>" data-firework-id="<%= firework.id  %>"  data-firework-colour="<%= firework.colour  %>" onclick="addFireworkToTimeline(<%= firework.id  %>, '<%= firework.name %>');">
        </div>
      <% end %>
      </div>
  </div>


<div style="clear:both;"></div>
      <%= javascript_tag do %>
      window.track_url = '<%= j @show.track_url %>';
    <% end %>

    <script>
      window.policy = '<%= policy %>'
      window.signature = '<%= signature %>'
    </script>

    <aside id="library">
      <%= image_tag("nightsky.png", id: "nightsky") %>
      <%= image_tag("big-glow.png", id: "big-glow") %>
      <%= image_tag("small-glow.png", id: "small-glow") %>
    </aside>
 

    <div id="mytimeline" data-show-id='<%= @show.id %>'></div>
        
    <div class="container">
      <div class="header"></div>

      <div id="demo">
        <div id="waveform">
          <div class="progress progress-striped active" id="progress-bar">
            <div class="progress-bar progress-bar-info"></div>
          </div>
          <!-- Here be the waveform -->
        </div>

        <div class="controls">
          <button class="fw_button" data-action="back">
            <i class="glyphicon glyphicon-step-backward"></i>
            Backward
          </button>

          <button class="fw_button" data-action="play">
            <i class="glyphicon glyphicon-play"></i>
            Play
            /
            <i class="glyphicon glyphicon-pause"></i>
            Pause
          </button>

          <button class="fw_button" data-action="forth">
            <i class="glyphicon glyphicon-step-forward"></i>
            Forward
          </button>
        </div>

        <div class='upload-area'>
          <p class="lead pull-center" id="drop">
            To get started drop a song here
          </p>
          <div id="progress_bar_download"> </div>
          <div id="progress_bar_upload"> </div>
        </div>
      </div>
    </div>
</div>
<%= javascript_include_tag 'fireworks' %>
