<%= javascript_include_tag 'timeline' %>
<%= javascript_include_tag 'timeline-data' %>

<p><%= link_to "Your shows", shows_path %></p>
<h2>Edit <%= @show.name %></h2>

 <% @fireworks.each_with_index do |firework, i| %>
   <input type="button" value="<%= firework.name %>"  onclick="addFireworkToTimeline(<%= firework.id  %>, '<%= firework.name %>');">
<% end %>

<div id="mytimeline" data-show-id='<%= @show.id %>'  ></div>


