<h1>Show list</h1>
<p><%= link_to "Add firework", fireworks_path %></p>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<h3>Your shows</h3>
<% @shows.each do |show| %>
<ul>
  <li data-show-id='<%= show.id %>'><%= show.name %>
    <%= link_to 'edit', edit_show_path(show) %>
    <%= link_to 'remove', show_path(show), :method => :delete %>
  </li>  
  </ul>
<% end %>

<h3>Add a show</h3>
<%= form_for  @show  do |f| %>
  <%= f.label :name, 'Show name' %>
  <%= f.text_field :name %>
  <%= f.submit 'Save show' %>
<% end %>

<h3>Your Boards</h3>

<div class="messages"></div>

<section class="all_boards">
  <% @boards.each do |board| %>
  <ul data-board-id='<%= board.boardID %>'>
    <li data-board-id='<%= board.boardID %>'><%= board.name %> - <%= board.boardID %>
    <br>
    <%= link_to 'remove', board_path(board), :method => :delete %> 
    <br>
    <div class="status">Offline</div>
    </li>  
  </ul>
  <% end %>
</section>

<h3>Add a board</h3>
<%= form_for  @board  do |f| %>
  <%= f.label :name, 'Board name' %>
  <%= f.text_field :name %>

  <%= f.label :boardID, 'Board ID' %>
  <%= f.text_field :boardID %>

  <%= f.submit 'Save board' %>
<% end %>

<script>
  $(document).ready(function() {    
    var pusher = new Pusher('26f4232b489d7c8a2e22', { authEndpoint: '/boards/auth' });
    
    var testing_channel = pusher.subscribe('testing_channel');
    var board_presence_channel = pusher.subscribe('presence-of-boards');
    
    // existingMembers.forEach( function(member) {
    //   $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Online");
    // })

    testing_channel.bind('new_message', function(data) {
      $('.messages').append("<div class=\"message\">" + data.message + "</div>");
    });
    
    board_presence_channel.bind('pusher:subscription_succeeded', function(members) {
      members.each(function(member){
        if (member.info) {
          $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Online");
        }
      });
    });

    board_presence_channel.bind('pusher:member_added', function(member) {
      $('.messages').append("<div class=\"message\">" + member.info.mac + "</div>");
      console.log('Coming online');
      $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Online");
    });

    board_presence_channel.bind('pusher:member_removed', function(member) {
      console.log('Going offline');
      $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Offline");
    });

    
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };
  });
</script>