<%= stylesheet_link_tag "index" %>
<div id='index_page'>
  <h1>Welcome to the Firework App!</h1>
  <div id="shows_div">

  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>

  <h3>Your Shows</h3>
  <% @shows.each do |show| %>
  <ul>
    <li data-show-id='<%= show.id %>'><%= show.name %>
      <%= link_to 'Edit', edit_show_path(show) %>
      <%= link_to 'Remove', show_path(show), :method => :delete %>
      <input name='show_radios' type='radio' data-show-id='<%= show.id %>' />
    </li>  
  </ul>
  <% end %>

   <h3>Add a Show</h3>
  <%= form_for  @show  do |f| %>
    <%= f.label :name, 'Show name' %>
    <%= f.text_field :name %>
    <%= f.submit 'Save' %>
  <% end %>

  </div>

<div id="boards_div">

<h3>Your Boards</h3>
<% @boards.each do |board| %>
  <ul data-board-id='<%= board.boardID %>'>
    <article data-board-id='<%= board.boardID %>'><%= board.name %> - <%= board.boardID %>
      <%= link_to 'remove', board_path(board), :method => :delete %> 
      <input name='board_radios' type='radio' data-board-id='<%= board.boardID %>' />
      <div class="status">Offline</div>
    </article>  
  </ul>
  <% end %>

  <h3>Add a Board</h3>
<%= form_for  @board  do |f| %>
  <%= f.label :name, 'Board name' %>
  <%= f.text_field :name %>

  <%= f.label :boardID, 'Board ID' %>
  <%= f.text_field :boardID, {:class => 'board_id_input'} %>

  <%= f.submit 'Save' %>
<% end %>

  <p><%= link_to "Add a new Firework", fireworks_path %></p>
</div>
</div>

<button class="upload" > Upload Show </button>


<script>
  $(document).ready(function() {

    var debug = true;

    $("input:radio[name=board_radios]:first").attr('checked', true);
    $("input:radio[name=show_radios]:first").attr('checked', true);
    var pusher = new Pusher('26f4232b489d7c8a2e22', { authEndpoint: '/boards/auth' });
    
    var testing_channel = pusher.subscribe('test_channel');
    var board_presence_channel = pusher.subscribe('presence-of-boards');

    board_presence_channel.bind('pusher:subscription_succeeded', function(members) {
      members.each(function(member){
        if (member.info) {
          $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Online");
        }
      });
    });

    board_presence_channel.bind('pusher:member_added', function(member) {
      // $('.messages').append("<div class=\"message\">" + member.info.mac + "</div>");
      $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Online");
      
      var connected_board_ids = [];
      $('article').each(function(index, article) {
        connected_board_ids.push($(article).data('board-id'));
      })
      if($.inArray(member.info.mac, connected_board_ids) == -1) {
        $('.board_id_input').val(member.info.mac);
      }
    });

    board_presence_channel.bind('pusher:member_removed', function(member) {
      $('ul[data-board-id="' + member.info.mac + '"]').find("div.status").text("Offline");
    });

    
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    $('button.upload').on ("click", function() {
      selected_board_id = $('input[name=board_radios]:checked').data('board-id');
      selected_show_id = $('input[name=show_radios]:checked').data('show-id');

      var upload_data = { show_id:selected_show_id, board_id: selected_board_id }; 

      $.ajax({
        url: "/shows/upload",
        type: "post",
        data:  upload_data,
        dataType: 'json',
        success: function(response){
          if (debug) {console.log("Show uploaded")};             
        },
        error:function(){
          if (debug) {console.log("Failed show upload")};
        }
      });
    })

  });
</script>